<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tweet Daily Special</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid" th:fragment="tweet-daily">
		<form id="tweet-daily-special" action="#" th:action="@{/tweetdaily}" th:object="${statusData}" method="post"> 
			<div class="form-group">
				<label for="daily-special">Daily Special info to tweet:</label>
				<p><input type="text" th:field="*{test}" /></p>
				<p role="separator" class="divider" />
				<button type="submit" class="btn btn-info" value="Tweet Now!"> </button>
			</div>
		</form>
	</div>
</body>
</html>